<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&family=Roboto:wght@100&display=swap"
      rel="stylesheet" xmlns:height="http://www.w3.org/1999/xhtml" xmlns:height="http://www.w3.org/1999/xhtml">
<div class="container-fluid">
  <div class="row">
    <div class="col-6 vh-100 d-flex align-items-center justify-content-center " id="myCenteredDiv">
      <!-- Contenu de la première div -->
      <div class="text-center ">
        <h3 class="m-2">Vous avez déjà <br>un compte ?</h3>
        <h6 class="m-2">Pas besoin de perdre du temps sur cette page, <br> revenons à votre compte</h6>
        <button routerLink="/signIn" type="button" class="btn btn-light m-2 p-2">Connectez-vous à un compte</button>
      </div>
    </div>
    <div class="col-6 vh-100 d-flex align-items-center justify-content-center">

      <div class="col-sm-10 col-xl-8 m-auto  ">
        <!-- Start Bar  -->
        <div class="row">
          <div class="col-1">
            <svg routerLink="/home" stroke="currentColor" class="text-danger" fill="currentColor" stroke-width="0" viewBox="0 0 512 512" height="1em" width="1em"><path d="M217.9 256L345 129c9.4-9.4 9.4-24.6 0-33.9-9.4-9.4-24.6-9.3-34 0L167 239c-9.1 9.1-9.3 23.7-.7 33.1L310.9 417c4.7 4.7 10.9 7 17 7s12.3-2.3 17-7c9.4-9.4 9.4-24.6 0-33.9L217.9 256z"></path></svg>
          </div>
          <div class="col-1">
            <a routerLink="/home" class="text-danger" >Home</a>
          </div>
          <!-- End  Bar  -->
        </div >
        <h4 class="fs-3 mt-4 ">Bienvenue sur Compus Controle</h4>
        <p class="lead mb-4">Commençons par créer votre compte </p>
        <!-- Form START -->
        <form [formGroup]="formSignUp" (ngSubmit)="SignUp()">
          <!-- Nom -->
          <div class="row">
          <div class="col-6">
<!--            <label for="Nom" class="form-label">Nom</label>-->
            <div class="input-group input-group-lg">
              <input type="text" class="form-control bg-light dark:text-gray-100 border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700
              dark:border-gray-4500 dark:placeholder-gray-300" placeholder="Nom" id="Nom" formControlName="nom" style="height: 40px; font-size: 12px;">
              <!--              <span class="text text-danger" *ngIf="registerForm.controls['nom'].invalid && registerForm.controls['nom'].touched">First Name is required and</span>-->
            </div>
          </div>
<!--           Prénom-->
          <div class="col-6">
            <div class="input-group input-group-lg">
              <input type="text" class="form-control bg-light dark:text-gray-100 border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700
              dark:border-gray-4500 dark:placeholder-gray-300" placeholder="Prénom" id="prénom" formControlName="prenom" style="height: 40px; font-size: 12px;">
            </div>
          </div>
          </div>
          <br>
          <!-- Cin -->
          <div class="mb-4">
            <div class="input-group input-group-lg">
              <input type="text" class="form-control bg-light dark:text-gray-100 border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700
              dark:border-gray-4500 dark:placeholder-gray-300" placeholder="Cin" id="cin" formControlName="cin" style="height: 40px; font-size: 12px;">
            </div>
          </div>
          <!-- DateNaissance -->
          <div class="mb-4">
            <div class="input-group input-group-lg">
              <span class="input-group-text bg-light rounded-start border-0 text-secondary px-3"><i class="fas fa-calendar-alt"></i></span>
              <input type="date" class="form-control bg-light dark:text-gray-100 border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-4500 dark:placeholder-gray-300" placeholder="Date de Naissance" id="DateNaissance" formControlName="dateNaissance" style="height: 40px; font-size: 12px;">
            </div>
          </div>
          <!-- Ecole -->
          <div class="mb-4">
            <div class="input-group input-group-lg">
              <input type="text" class="form-control bg-light dark:text-gray-100 border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700
              dark:border-gray-4500 dark:placeholder-gray-300" placeholder="Ecole" id="ecole" formControlName="ecole" style="height: 40px; font-size: 12px;">
            </div>
          </div>
          <!-- Email -->
          <div class="mb-4">
            <div class="input-group">
                <span class="input-group-text bg-light rounded-start border-0 text-secondary px-3">
                  <i class="bi bi-envelope-fill"></i>
                </span>
              <input type="text" class="form-control bg-light dark:text-gray-100 border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-4500 dark:placeholder-gray-300" placeholder="name@flowbite.com" id="email" formControlName="email" style="height: 40px; font-size: 12px;">
            </div>
          </div>
          <!-- Password -->
          <div class="mb-4">
            <div class="input-group input-group-lg">
              <input type="password" class="form-control bg-light dark:text-gray-100 border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700
              dark:border-gray-4500 dark:placeholder-gray-300" placeholder="Mot de passe" id="Mot de passe" formControlName="password" style="height: 40px; font-size: 12px;">
            </div>
          </div>
          <!-- Button -->
          <div class="align-items-center mt-0">
            <div class="d-grid">
              <button class="btn btn-danger mb-0" type="submit">S'inscrire</button>
            </div>
          </div>
        </form>
        <div class="flex justify-center d-flex justify-content-between m-3"><p class="text-gray-500 dark:text-white">Vous avez déjà un compte ?</p><a routerLink="/signIn" class="text-danger" >Sign In</a></div>
      </div>
      <!-- Form END -->
    </div>
  </div> <!-- Row END -->
</div>





