<!--Reactive form-->
<div class="form-container" xmlns:dark="http://www.w3.org/1999/xhtml">
<h1>Update Etudiant</h1>
  <form>
<!--    <form  [formGroup]="updateForm"  class="form-group" (ngSubmit)="updateStudent()">-->

<!--     -------------------------------- Nom-------------------------------->
      <label for="nom">Nom</label>
<!--      <input type="text" id="nom" name="nom"  formControlName="nom" class="form-control" [class.is-invalid]="updateStudent.invalid">-->
      <!--  <div *ngIf="fn.invalid && fn.touched">-->
      <!--    <small *ngIf="updateForm.get('firstName')?.invalid && ">first name is required</small>-->
      <!--    <small *ngIf="fn?.errors?.['minlength']">first name 3 </small>-->
      <!--    <small *ngIf="fn?.errors?.['pattern']">first name must be cars </small>-->
      <!--  </div>-->

 <!--     -------------------------------- Prénom-------------------------------->

      <label for="prenom"> Prénom</label>
      <input type="text" id="prenom" name="prenom" formControlName="prenom" class="form-control">

<!--     -------------------------------- Cin--------------------------------------------->


      <label for="bd"> BirthDate</label>
      <input type="text" id="bd" name="Birthdate"  formControlName="birthDate" class="form-control">

<!--     -------------------------------- DateNaissance--------------------------------------------->


      <label for="dateNaissance" > date de Naissance</label>
      <input type="text" id="dateNaissance" name="dateNaissance" formControlName="dateNaissance" class="form-control">

<!--     -------------------------------- Ecole--------------------------------------------->

      <label for="ecole">Ecole</label>
      <input type="text" id="ecole" name="ecole" formControlName="ecole" class="form-control">

<!--     -------------------------------- Email--------------------------------------------->
      <label for="email"> Email</label>
      <input type="text" id="email" name="email" formControlName="email" class="form-control">

<!--     -------------------------------- Password--------------------------------------------->
      <label for="password">Mot de passe</label>
      <input type="password" id="password" name="password"  formControlName="password" class="form-control">
      <!--  <small *ngIf="cc.value != 'customer' && cc.touched" >Only customer is accepted </small>-->

<!--      <button type="submit" (submit)="updateStudent()">Submit</button>-->

  </form>
  </div>
