<link
  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
  rel="stylesheet">
<div class="col-md-11 mx-auto">
<div class="card shadow mb-4 mx-2">

  <div class="card-header py-1">
    <div class="search-container mb-3 text-center">
      <label for="searchInput" class="sr-only">Rechercher</label>
      <div class="input-group">
        <input type="text" id="searchInput" placeholder="Rechercher..." class="form-control small-search-input">
        <div class="input-group-append">
      <span class="input-group-text bg-primary">
        <i class="fa fa-search text-white"></i>
      </span>
        </div>
      </div>
    </div>
    <h4 class="text-center text-success">Ajouter Foyer</h4>
    <form #formFoyer="ngForm" (ngSubmit)="addFoyer(formFoyer)" class="form-group row ">
      <div class="col-3 mx-auto "> <!-- Ajout de la classe mx-auto -->
        <div class=" d-flex justify-content-center">
          <label >Nom foyer</label>
        </div>
        <input type="text" ngModel name="nomFoyer" required minlength="3" pattern="[a-zA-Z]*" #nomModel="ngModel" class="form-control bg-white dark:text-gray-100 border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-4500 dark:placeholder-gray-300" placeholder="Nom du foyer" style="height: 40px; font-size: 12px;">
      </div>
      <div class="col-3 mx-auto "> <!-- Ajout de la classe mx-auto -->
        <div class="d-flex justify-content-center">
          <label>Capacité foyer</label>
        </div>
        <input type="text" ngModel name="capaciteFoyer" required minlength="3" pattern="[a-zA-Z]*" #nomModel="ngModel" class="form-control bg-white dark:text-gray-100 border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-4500 dark:placeholder-gray-300" placeholder="Capacité foyer" style="height: 40px; font-size: 12px;">
      </div>
      <label></label>
      <div class="col-12 d-flex justify-content-center mt-3 "> <!-- Ligne pour le bouton avec un espace vertical (mt-3) -->
          <button type="submit" class="btn bg-primary text-white">Ajouter</button>
      </div>
    </form>
  </div>



  <div class="card-header py-3 text-center">
    <h4 class="text-success">Affecter foyer à université</h4>

    <!-- Première ligne : Sélection et Input -->
    <div class="row mb-3">
      <div class="col-md-6 mx-auto">
        <label for="selectUniversite" class="form-label">Sélectionnez une université</label>
        <select id="selectUniversite" (change)="OnSelectUniversity($event)" class="form-select form-select-sm w-50 mx-auto">
          <option selected disabled>Sélectionnez une université</option>
          <option *ngFor="let nomUniversite of UnivSF">{{nomUniversite}}</option>
        </select>
      </div>
      <div class="col-md-6 mx-auto">
        <label for="idFoyer" class="form-label">ID Foyer</label>
        <input type="text" id="idFoyer" [(ngModel)]="idFoyerInput" class="form-control form-control-sm bg-white dark:text-gray-100 border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 w-50 mx-auto" placeholder="ID Foyer" style="height: 30px; font-size: 12px;">
      </div>
    </div>

    <!-- Deuxième ligne : Bouton -->
    <div class="row">
      <div class="col-md-12 mx-auto">
        <label>&nbsp;</label> <!-- Label vide pour ajuster le positionnement -->
        <button (click)="affecterUnivFoyer()" class="btn btn-primary">
          Affecter
        </button>
      </div>
    </div>
  </div>




</div>
</div>


<!--</div>-->

<div class="table-responsive">
    <table class="table table-bordered" id="dataTable">
      <thead>
      <tr>
        <th>Id Foyer</th>
        <th>Nom</th>
        <th>Capacité</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody *ngFor="let foyer of listFoyer">
      <tr>
        <td>{{foyer.idFoyer}}</td>
        <td>{{foyer.nomFoyer}}</td>
        <td>{{foyer.capaciteFoyer}}</td>
        <td style="width: 10%;">
          <!--            <a href="#" class="table-link text-success">-->
          <!--            <span class="fa-stack">-->
          <!--              <i class="fa fa-square fa-stack-2x"></i>-->
          <!--              <i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>-->
          <!--            </span>-->
          <!--            </a>-->
          <a class="table-link text-primary" (click)="openPopup(foyer)">
  <span class="fa-stack">
    <i class="fa fa-square fa-stack-2x"></i>
    <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
  </span>
          </a>

          <a class="table-link text-danger" (click)="delete(foyer.idFoyer , i)">
            <span class="fa-stack">
              <i class="fa fa-square fa-stack-2x"></i>
              <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
            </span>
          </a>
        </td>

      </tr>
      </tbody>
    </table>
  <app-foyer-edit-popup
    [show]="showPopup"
    [foyerDetails]="foyerToEdit"
    (saveClicked)="onSaveChanges($event)">
  </app-foyer-edit-popup>  </div>




